.form {
    width: 100%;
}

.card-wide {
    width: 290px;
}
.progress {
    width: 100%;
    display: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.divider {
    padding: 10px;
}