.form {
    width: 100%;
}

.card-wide {
    width: 290px;
}

.progress {
    width: 100%;
    display: none;
}

.none {
    display: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.align-left {
    float: left;
}

.align-right {
    float: right;
}

.divider {
    padding: 10px;
}