{% extends "base.html" %}

{% block content %}
<div class="mdl-grid mdl-grid--hide-phone">
    <div class="divider"></div>
</div>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col mdl-cell--hide-phone"></div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-phone">
        <div class="mdl-card mdl-shadow--2dp card-wide center">
            <div class="mdl-card__media">
                <img class="center" src="{{ url_for('static', filename='badged.png')}}">
            </div>
        
            <div class="mdl-card__supporting-text">
                Enter your Mozilla Open Badges Email and your Twitter handle to see if you have earned any badges!
                <div class="mdl-textfield mdl-js-textfield form">
                    <input class="mdl-textfield__input" type="text" name="email" id="email" />
                    <label class="mdl-textfield__label" for="email">Mozilla Backpack Email</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield form">
                    <input class="mdl-textfield__input" type="text" name="handle" id="handle" />
                    <label class="mdl-textfield__label" for="handle">Twitter Handle</label>
                </div>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" onclick="check()">
                    Badge Me!
                </a>
            </div>
            <div class="mdl-card__menu">
                <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">share</i>
                </button>
            </div>
            <div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate progress-demo progress"></div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col"></div>
</div>

<script>

function check() {
    document.getElementById('p2').style.display='block';
	xmlhttp=new XMLHttpRequest();
	xmlhttp.open("POST","/check",true);
	xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
    xmlhttp.send('email='+document.getElementById('email').value+'&handle='+document.getElementById('handle').value);

    xmlhttp.onreadystatechange=function(){
        if (xmlhttp.readyState==4 && xmlhttp.status==200){
        console.log(xmlhttp.responseText);
        window.location.href = '/award';
    }
  }
}
</script>

{% endblock %}

